body {
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgba(132, 157, 143, 1); 
}

html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.site-wrapper {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.7s ease, background-color 0.7s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/ice-cream-1.png");
}

.site-wrapper::after {
  background-image: url("../img/ice-cream-2.png");
}

.main-title h1,
.banner h2  {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.features-title,
.post-preview h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.banner p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.features-title {
  font-weight: 500;
}

.follow-by-email-address {
  line-height: 24px;
  font-weight: 400;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.info-box span,
.post-new span,
.index-content-right span,
.footer-copyright span {
  display: block;
}

.site-logo {
  float: left;
  width: 154px;
  height: 73px;
  margin-right: 9px;
}

.site-logo img {
  margin-top: 9px;
}

.main-header {
  margin-bottom: 26px;
}

.main-navigation {
  float: left;
  width: 675px;
  margin-top: 23px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation > ul { 
  font-size: 0px;
}

.main-navigation > ul > li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 10px;
  width: 100%;
  height: 5px;
}

.navigation-hidden-list {
  position: absolute;
  z-index: 30;
  min-width: 145px;
  display: none;
  top: 37px;
  left: -7px;
  background-color: rgba(248, 247, 244, 1);
  border-radius: 5px;
  box-shadow: 0 20px 20px  rgba(0, 0, 0, 0.40);
}

.navigation-hidden-list a {
  display: block;  
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(50, 50 , 50, 1);
  margin-bottom: 1px;
  padding: 7px 21px;
}

.hidden-list:hover .navigation-hidden-list{
  display: block;
}

.navigation-hidden-list li:last-child {
  margin-bottom: 6px;
}

.navigation-hidden-list .main-point {
  font-weight: 700;
  padding: 8px;
  padding-left: 21px;
  margin-top: 4px;
  margin-bottom: 5px; 
}

.line-decoration {
  position: relative;
}

.main-point::after {
  content: "";
  position: absolute;
  top: 34px;
  right: 9px;
  left: 9px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.navigation-hidden-list a:hover {
  background-color: rgba(251, 222, 215, 1)  
}

.navigation-hidden-list a:active {
  background-color: rgba(246, 181, 165, 1)  
}

.line {
  border-bottom: 1px solid rgba(248, 247, 244, 0.2);
}

.nav-link {
  display: block;
  text-decoration: none;
  padding: 7px 14px;
  color: inherit;      
}

.nav-link:hover {
  color: rgba(50, 50 , 50, 1);
  background-color: rgb(248, 247, 244);
  border-radius: 16px;
}

.nav-link:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}

.active > a,
.active > a:hover,
.active > a:active {
  color: rgba(255, 255 , 255, 1);
  background-color: rgba(208, 112, 88, 1);
  border-radius: 16px;
}

.header-right{
  float: right;
  position: relative;
  width: 262px;
  padding-top: 23px;
}

.header-right-top {
  font-size: 0px;
}

.header-right ul {
  list-style: none;
  margin: 0;
  padding: 0;  
}

.header-right-top a {
  text-decoration: none;
  color: inherit;
}

.header-right-top li {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  position: relative;
}

.header-right-top li:last-child {
  margin-right: 0;  
}

.menu-icon::before {
  content: "";
  position: absolute;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.header-right-top .search-icon:hover,
.header-right-top .login-icon:hover {
  background-color: rgba(250, 250, 250, 1);
  border-radius: 16px;
  color: rgba(50, 50, 50, 0.1)
}

.header-right-top .search-icon {
  display: block;
  width: 33px;
  height: 32px;
  font-size: 0px;
}

.header-right-top .search-icon::before {
  background-position: -23px -533px;
  width: 17px;
  height: 17px;
  top: 7px;
  left: 8px; 
}

.header-right-top .search-icon:hover::before {
  background-position: -3px -533px;
  width: 17px;
  height: 17px;
}

.header-right-top a::after {
  content: "";
  position: absolute;
  top: 32px;
  width: 100%;
  height: 5px;
  left: 0px;
}

.search {
  position: relative;
}

.search-inner {
  position: absolute;
  display: none;
  z-index: 30;
  width: 342px;
  height: 84px;
  top: 36px;
  left: -309px;
  background-color: rgba(248, 247, 244, 1);
  border-radius: 5px;
  box-shadow: 0 20px 20px  rgba(0, 0, 0, 0.40);
}

.search:hover .search-inner{
  display: block;
}

.search-inner input[type="search"] {
  width: 311px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgba(50, 50, 50, 1);
  padding: 9px 13px;
  margin: 0;
  margin: 20px 16px;
  border: 1px solid rgba(153, 153, 153, 0.52);
  border-radius: 5px;  
}

.search-inner button {
  opacity: 0;
}

.search-inner input[type="search"]:hover {
  padding: 8px 12px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-inner input[type="search"]:active {
  padding: 8px 12px;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.header-right-top .login-icon {
  display: block;
  width: 46px;
  height: 32px;
  line-height: 32px;
  padding-left: 45px;
}

.header-right-top .login-icon::before {
  background-position: -27px -511px;
  width: 21px;
  height: 19px;
  top: 6px;
  left: 16px;;
}

.header-right-top .login-icon:hover::before {
  background-position: -3px -511px; 
  width: 21px; 
  height: 19px;
}

.login {
  position: relative;
}

.login-inner {
  position: absolute;
  display: none;
  z-index: 30;
  width: 240px;
  padding: 20px 19px;
  top: 36px;
  left: -183px;
  background-color: rgba(248, 247, 244, 1);
  border-radius: 5px;
  box-shadow: 0 20px 20px  rgba(0, 0, 0, 0.40);
}

.login:hover .login-inner {
  display: block;
}

.login-inner input[type="email"],
.login-inner input[type="password"] {
  width: 216px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgba(50, 50, 50, 1);
  margin: 0;
  padding: 9px;
  padding-left: 14px;
  margin-bottom: 20px;
  border: 1px solid rgba(153, 153, 153, 0.52);
  border-radius: 5px;   
}

.login-inner input[type="email"]:hover,
.login-inner input[type="password"]:hover {
  padding: 8px;
  padding-left: 13px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.login-inner input[type="email"]:active,
.login-inner input[type="password"]:active {
  padding: 8px;
  padding-left: 13px;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.login-inner .btn {
  float: left;
  padding: 10px 24px;
  margin-right: 20px;
  border-radius: 19px;
  margin-bottom: 3px;
  outline: 0;
}

.login-inner a {
  float: left;
  margin: 0;
  font-size: 13px;
  line-height: 22px;
  color: rgba(50, 50, 50, 1);
  text-decoration: underline;     
}

.header-right-top .basket-icon {
  display: block;
  width: 73px;
  height: 32px;
  line-height: 32px;
  padding-left: 45px;
}

.header-right-top .basket-icon::before {
  background-position: -27px -488px;
  width: 21px;
  height: 20px;
  top: 6px;
  left: 17px;;
}

.info-box {
  position: absolute;
  top: 73px;
}

.info-box span {
  width: 262px;
  text-align: right;
}

.working-time-header {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 4px;
}

body > input[type="radio"] {
  display: none;
}

.slider {
  padding-top: 293px;
  position: relative; 
}

.slide-back {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  font-size: 0px;
  z-index: 20;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  border: 2px solid rgba(255, 255, 255, 1);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.sl-text {
  width: 708px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  margin: 0 auto;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: rgba(132, 157, 143, 1);
  background-image: url("../img/ice-cream-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: rgba(137, 150, 166, 1);
  background-image: url("../img/ice-cream-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: rgba(157, 139, 132, 1);
  background-image: url("../img/ice-cream-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: rgba(255, 255, 255, 1); 
}

.features,
.popular,
.special-promotion,
.news {
  margin-bottom: 40px;
}

.slider  {
  margin-bottom: 42px;
}

.content-left {
  float: left;
  width: 560px;
  margin-right: 26px;
}

.content-right {
  float: right;
  width: 560px;
}

.banner {
  margin-top: 14px;
  margin-bottom: 23px;
  margin-left: 19px;
  margin-right: 19px;
}

.banner h2{
  width: auto;
  margin: 0;  
  margin-bottom: 16px;
}

.banner p {
  margin: 0;
  margin-bottom: 44px;
}

.button-position {
  text-align: right; 
}

.special-promotion .content-left {
  background:  rgba(128, 14, 38, 1) url("../img/crimson-background.jpg") no-repeat -50px -94px;
}

.special-promotion .content-right {
  background:  rgba(107, 62, 40, 1) url("../img/chocolate-background.jpg") no-repeat -218px -104px;
} 

.catalog {
  font-size: 0px;
}

.item-img {
  border-radius: 50%;
}

.item {
  display: inline-block;
  position: relative;
  vertical-align:top;
  width: 267px;
  font-size: 16px;
  text-align:center;
  margin-right: 26px;
  margin-bottom: 38px;
}

.popular-item {
  margin-bottom: 0;
}

.item:nth-child(4n) {
  margin-right: 0;
}

.item .item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  width: 260px;
  margin: 0;
  margin-top: 7px;
  margin-left: 4px;
}

.item .btn {
  position: absolute;
  display: block;
  bottom: -54px;
  left: 28px;
}

.item .price {
  position: absolute;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  -webkit-filter: drop-shadow(0 1px 2px rgba(49, 50, 53, 0.50));
  filter: drop-shadow(0 1px 2px rgba(49, 50, 53, 0.50));
  top: 204px;
  left: 0px; 
}

.left-price {
  font-size: 45px;
  line-height: 55px;
  padding-right: 34px;
  background-image: url("../img/r.png");
  background-repeat: no-repeat;
  background-position: 80px 12px;
}

.features {
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
  background:  rgb(241, 230, 208) url("../img/waffle.jpg") repeat;
}

.features-title {
  widht: auto;
  margin-bottom: 10px;
}

.left-feature-item {
  float: left;
  width: 539px; 
}

.right-feature-item {
  float: right;
  width: 538px;
}

.features p {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 56px;
  position: relative;
}

.feature-icon::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.ice-icon::before {
  background-position: -3px -0px; 
  width: 49px; 
  height: 49px;
 }

.leaf-icon::before {
  background-position: -3px -52px;
  width: 49px;
  height: 49px;
 }

.cow-icon::before {
  background-position: -3px -104px;
  width: 48px;
  height: 49px;
 }

.t-icon::before {
  background-position: -3px -156px;
  width: 48px;
  height: 49px;
} 

.news .content-left {
  background:  rgba(255, 255, 255, 1) url("../img/strawberry.jpg") no-repeat -52px -224px;
}

.news .content-right {
  background:  rgba(255, 255, 255, 1) url("../img/pattern.png") repeat -12px;
}

.post-new {
  padding: 22px 20px;
  font-weight: 500;
}

.post-new h2 {
  display: block;
  width: 287px;
  min-height: 149px; 
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 24px;
}

.post-new a{
  text-decoration: uderline;
  color: rgba(50, 50, 50, 1);
}

.post-new a:hover,
.post-new a:active {
  color: rgba(232, 77, 55, 1);
}

.follow-by-email {
  background-color: rgba(248, 247, 243, 1);
  border-radius: 13px;
  margin: 5px;
  padding-top: 29px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 34px;
}

.follow-by-email p {
  width: 508px;
  margin: 0;
}

.follow-by-email-form {
  margin-top: 37px;
  font-size: 0px;
}

.follow-by-email-address,
.email-btn {
  display: inline-block;
  vertical-align: middle;
}

.email-btn button {
  padding: 10px 18px;
  margin-left: 12px;
  outline: 0;
}

.follow-by-email-address input[type="email"] {
  width: 338px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: rgba(50, 50, 50, 1);
  padding: 9px 13px;
  border: 1px solid rgba(153, 153, 153, 0.52);
  border-radius: 5px;  
}

.follow-by-email-address input[type="email"]:hover {
  padding: 8px 12px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.follow-by-email-address input[type="email"]:active {
  padding: 8px 12px;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.index-content {
  padding-top: 61px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 61px
}

.index-content-right {
  float: right;
  width: 252px;
  padding: 30px 25px;
  background-color: rgba(255, 255, 255, 1)
}

.index-content-title {
 font-size: 14px;
 line-height: 20px;
}

.title-adress,
.content-phones,
.working-time {
 font-size: 14px;
 line-height: 20px;
}

.adress,
.phones {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.adress {
  margin-top: 1px;
}

.content-phones {
  margin-top: 18px;
}

.phones {
  margin-top: 4px;
}

.working-time {
  margin-top: 2px;
}

.index-content-right .btn {
  width: 206px;
  margin-top: 23px;
  text-align: center;
}

.breadcrumbs a{
  margin-right: 18px;
}

.breadcrumbs a.active {
   border-bottom: none;
   color: inherit;
}

.main-title h1 {
  margin: 0px;
  margin-top: 4px;
  margin-bottom: 26px;
}

.filter-catalog {
  background-color: aquamarine;
  margin-bottom: 27px;
}

legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-catalog {
  font-size: 0px;
}

.filter-box,
.btn-filter {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-right: 12px;
  margin-bottom: 20px;
}

.sorting-items-box fieldset {
  background-color:burlywood;
  width: 164px;
}

.price-filter-interval {
  background-color:#c532b3;
  width: 219px;
}

.product-fat-content-box fieldset {
  background-color:burlywood;
  width: 389px;
}

.filler-ice-cream-box fieldset {
  background-color: blue;
  width: 673px;
}

.btn-filter {
  margin-top: 28px
}

.pagination {
  text-align: right;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500px;
  margin-top: 47px;
  padding-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination a {
  margin-right: 20px;
}

.features,
.news,
.index-content-right  {
  color: rgba(50, 50 , 50, 1)
}

.index-content-right .btn {
  color: rgba(255, 255, 255, 1);
}

.content-left,
.content-right,
.features,
.index-content-right {
  border-radius: 16px;
}

.main-footer {
  padding-top: 20px;
  padding-bottom: 10px;
}

.main-footer-catalog {
  padding-top: 19px;
  padding-bottom: 14px;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 26px;
  padding-top: 17px;
}

.footer-social {
  font-size: 0px;
}

.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 0px;
  position: relative;
  margin-right: 11px;
  margin-bottom: 11px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);  
}

.social-btn::before {
  content: "";
  position: absolute; 
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;
}

.social-btn-tw::before {
  background-position: -3px -383px;
  width: 32px;
  height: 32px;
  opacity: 0.8;   
}

.social-btn-in::before {
  background-position: -3px -313px;
  width: 32px;
  height: 32px;
  opacity: 0.8;   
}


.social-btn-fb::before {
  background-position: -3px -243px; 
  width: 32px;
  height: 32px;
  opacity: 0.8;   
}

.social-btn-vk::before {
  background-position: -3px -453px;
  width: 32px;
  height: 32px;
  opacity: 0.8;   
}

.social-btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn:hover::before {
  opacity: 1;
}

.social-btn-tw:active::before {
  background-position: -3px -348px; 
  width: 32px; 
  height: 32px;
  border-radius: 50%;
  box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);  
}

.social-btn-in:active::before {
  background-position: -3px -278px; 
  width: 32px; 
  height: 32px;
  border-radius: 50%;
  box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);    
}

.social-btn-fb:active::before {
  background-position: -3px -208px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);    
}

.social-btn-vk:active::before {
  background-position: -3px -418px; 
  width: 32px; 
  height: 32px;
  border-radius: 50%;
  box-shadow: inset 0 2px 1px rgba(136, 136, 136, 1);   
}

.about-us  {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.footer-info-box {
  float: left;
  width: 432px;
  padding: 15px;
  padding-left: 107px;
  font-size: 0px;
}

.about-us {
 display: inline-block;
 vertical-align: top;
 font-size: 13px;
 line-height: 18px; 
}

.about-us-left {
  width: 121px;
  padding-left: 22px;
}

.about-us-right {
  width: 164px;
  padding-left: 22px;
}

.about-us li {
  margin-bottom: 4px;
}

.about-us a,
.breadcrumbs a,
.adress-html,
.item-title a {
  text-decoration: none;
  border-bottom: 1px solid rgba(248, 247, 244, 0.2);
  color: inherit;
}

.about-us-left {
  background-image: url("../img/love.png");
  background-position: 0 3px;
  background-repeat: no-repeat;
}  

.about-us-left li:first-child {
  font-weight: 700;
}

.about-us a:hover,
.about-us a:active,
.breadcrumbs a:hover,
.breadcrumbs a:active,
.adress-html:hover,
.adress-html:active,
.item-title a:active,
.item-title a:hover  {
  color: rgba(255, 188, 158, 1);
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs a:last-child,
.breadcrumbs a:last-child:hover,
.breadcrumbs a:last-child:active {
  text-decoration: none;
  border-bottom: none;
  color: inherit;
}

.footer-copyright {
  float: right;
  width: 190px;
  padding-left: 80px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 16px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  border: none;
  cursor: pointer;
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: none;
  color:  rgba(255, 255, 255, 1);
  padding: 11px 21px;
  font-size:18px;
  line-height:24px;
  font-weight:700;
  background: linear-gradient(to top, rgba(231, 74, 53, 1), rgba(242, 104, 67, 1));
  border-radius: 37px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover{
   background: linear-gradient(to top, rgb(236, 110, 95), rgb(245, 134, 106));
   box-shadow: 0 2px 2px  rgba(172, 16, 0, 1);
}

.btn:active {
  background: linear-gradient(to top, rgb(225, 97, 62), rgb(199, 64, 45));
  box-shadow: inset 0 2px 2px  rgba(172, 16, 0, 1);
}

.sl-btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(160, 32 ,11, 0.76);
  padding: 10px 40px;
  margin-top: 29px;
}

/*  {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
 */